<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.studentmanagement.mapper.StudentMapper">

    <select id="selectStudentPage" resultType="com.liu.studentmanagement.entity.vo.StudentVO">
        SELECT
        s.*,
        c.class_name as className,
        c.teacher_name as teacherName
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        <where>
            <!-- 逻辑删除过滤：只查没删除的 -->
            s.deleted = 0
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY s.id DESC
    </select>

    <!-- StudentMapper.xml -->

    <!-- 1. 性别统计：1为男，0为女 -->
    <select id="countByGender" resultType="map">
        SELECT
            (CASE gender WHEN 1 THEN '男' WHEN 0 THEN '女' ELSE '未知' END) as name,
            COUNT(*) as value
        FROM student
        WHERE deleted = 0
        GROUP BY gender
    </select>

    <!-- 2. 班级人数统计：关联 clazz 表拿班级名 -->
    <select id="countByClass" resultType="map">
        SELECT
            c.class_name as name,
            COUNT(s.id) as value
        FROM clazz c
            LEFT JOIN student s ON c.id = s.clazz_id AND s.deleted = 0
        WHERE c.deleted = 0
        GROUP BY c.id, c.class_name
    </select>

    <!-- 2. 班级人数统计：关联 clazz 表拿班级名 -->
    <select id="averageAge" resultType="double">
        SELECT
            ROUND(AVG(age), 1)
        FROM student
        WHERE deleted = 0
    </select>

</mapper>